#sketch {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Adjusted to viewport width */
    height: 100vh; /* Adjusted to viewport height */
    z-index: -1;
}

.dot-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background-color: #333;
    border-radius: 50%;
}

.dot-grid:hover .dot {
    background-color: #555;
}
