body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    overflow: hidden;
}

/* For desktop browsers */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222222;
    }
}

/* For Safari on iOS */
@media only screen and (min-color-index: 0) and (-webkit-min-device-pixel-ratio: 1.5) {
    body {
        background-color: #222222;
    }
}

/* For Chrome on Android */
@media (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    body {
        background-color: #222222;
    }
}

/* For Firefox on Android */
@media (device-width: 360px) and (device-height: 640px) and (-moz-device-pixel-ratio: 3) {
    body {
        background-color: #222222;
    }
}

/* For Edge on Windows */
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body {
        background-color: #222222;
    }
}

/* For Internet Explorer on Windows */
@media screen and (ms-high-contrast: active) {
    body {
        background-color: #222222;
    }
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 200px;
    position: relative;
    z-index: 1;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    margin: 40px 0 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: auto;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.logo-container img {
    height: 100%;
    border-radius: 50%;
}

.mode-switcher button {
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    color: #333;
    transition: color 0.3s ease;
}

.mode-switcher button:hover {
    color: #555;
}

.content {
    text-align: left;
    padding: 10px 0;
}

h1 {
    font-size: 5em;
    font-weight: 400;
    text-transform: lowercase;
    margin: 10px 0;
    color: #333;
    transition: color 0.3s ease;
}

.highlight-box {
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.animated-text {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 10s infinite;
    transition: background 0.3s ease;
}

.cursor {
    font-weight: 700;
    font-size: 1em;
    animation: blink 1s infinite;
    transition: color 0.3s ease;
}

.description {
    font-size: 1.5em;
    color: #555;
    font-family: 'Roboto Mono', monospace;
    margin-top: 20px;
    transition: color 0.3s ease;
}

.contact-button {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: background 0.3s ease, color 0.3s ease;
}

.contact-button:hover {
    background: rgba(0, 0, 0, 0.9);
}

.dark-mode .contact-button {
    color: #000;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(0, 0, 0, 0.3);
}

.dark-mode .contact-button:hover {
    background: rgba(255, 255, 255, 0.7);
}

.dark-mode {
    background-color: #222;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .header {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.dark-mode .mode-switcher button {
    color: #ddd;
    transition: color 0.3s ease;
}

.dark-mode .mode-switcher button:hover {
    color: #bbb;
}

.dark-mode .highlight-box {
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
}

.dark-mode .animated-text {
    background: linear-gradient(90deg, #8edeff, #ffe69c);
    transition: background 0.3s ease;
}

.dark-mode h1 {
    color: #ddd;
    transition: color 0.3s ease;
}

.dark-mode .description {
    color: #bbb;
    transition: color 0.3s ease;
}

.dark-mode .dot {
    background-color: #ddd;
    transition: background-color 0.3s ease;
}

.dark-mode .dot-grid:hover .dot {
    background-color: #bbb;
}
