.header {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.dark-mode .header {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.mode-switcher button {
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    color: #333;
    transition: color 0.3s ease;
}

.mode-switcher button:hover {
    color: #555;
}

.dark-mode .mode-switcher button {
    color: #ddd;
    transition: color 0.3s ease;
}

.dark-mode .mode-switcher button:hover {
    color: #bbb;
}
